


<div class="con">
  



  <div class="center-panel">
    <div class="search-bar">
      <div class="input-group">
        <span class="input-icon"><i class="fas fa-search fa-lg"></i></span>
        <input type="text" id="title-search" placeholder="Rechercher par titre">
      </div>
      <div class="input-group">
        <span class="input-icon"><i class="fas fa-map-marker-alt fa-lg"></i></span>
        <input type="text" id="city-search" placeholder="Rechercher par ville">
      </div>
      <button onclick="search()">Rechercher</button>
    </div>




  <div class="top">

    <p>
      <a href="https://www.stages-emplois.com/" target="_blank">
        <img src="/assets/img/logo.png" alt="Logo" style="width: 200px; height: 70px; margin-right: 50px;">
      </a>
      <a href="https://www.stages-emplois.com/" target="_blank">
        <img src="/assets/img/stages-emplois.png" alt="Stages Emplois" style="width: 200px;height: 65px; margin-right: 40px;">
      </a>
      <a href="https://www.stages-emplois.com/" target="_blank" >
        <img src="/assets/img/R.png" alt="R (1)" style="width: 200px;">
      </a>
    </p>
    
    <hr class="styled-line">
  </div>


  <div class="job-container">

    <div class="job-card" *ngFor="let job of jobs">
      <h2 style="font-size: 22px;">{{ job.Titre }}</h2>
      <p>{{ job.Description }}</p>
      <p style="color: blue; font-size: 20px;">Ville :</p><p> {{ job['Ville de l\'entreprise'] }}</p>
      <p style="color: blue; font-size: 20px;">Date de publication : </p><p>{{ job['Date de publication'] }}</p>
    </div>
  </div>
  


  <div class="maroc-container">
    <div class="maroc-card" *ngFor="let annouce of annouces">
      <h2>{{ annouce.title }}</h2>
      <p>{{ annouce.description }}</p>
      <p>{{ annouce.location }}</p>
    </div>
  </div>
  



  <div class="cont">
    <a  nzType="link" routerLink="/emploi" routerLinkActive="active" class="button ">1</a>
    <a nzType="link" routerLink="/stage" routerLinkActive="active" class="button active ">2</a>
    <a href="page3.html" class="button">3</a>
  </div>
  

  

  </div>




</div>
<footer class="footer">
  <div class="footer-content">
      <div class="footer-left">
          <h2 style="font-size: 40px; margin-left: 100px;  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Jobing</h2>
          <p style="font-size: 26px; margin-left: 25px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-top: -12px;">Find jobs & internships</p>
          <p style="margin-left: 100px;"> &copy; 2024 Jobing</p>

       

        
          
      </div>
     

      <div class="footer-right">
        <div class="socialicons">
            <a href="#"><i class="fab fa-facebook fa-3x icon-light" style="margin-right: 100px;"></i></a>
            <a href="#"><i class="fab fa-instagram fa-3x icon-light" style="margin-right: 100px;"></i></a>
            <a href="#"><i class="fab fa-linkedin fa-3x icon-light" style="margin-right: 100px;"></i></a>
        </div>
    </div>
    
  </div>
</footer>