


<div class="con">
  



    <div class="center-panel">
      <div class="search-bar">
        <div class="input-group">
          <span class="input-icon"><i class="fas fa-search fa-lg"></i></span>
          <input type="text" id="title-search" placeholder="Rechercher par titre">
        </div>
        <div class="input-group">
          <span class="input-icon"><i class="fas fa-map-marker-alt fa-lg"></i></span>
          <input type="text" id="city-search" placeholder="Rechercher par ville">
        </div>
        <button onclick="search()">Rechercher</button>
      </div>
  
  
  
  
    <div class="top">
  
      <p>
        <a href="https://www.stages-emplois.com/" target="_blank">
          <img src="/assets/img/logo.png" alt="Logo" style="width: 200px; height: 70px; margin-right: 50px;">
        </a>
        <a href="https://www.stages-emplois.com/" target="_blank">
          <img src="/assets/img/stages-emplois.png" alt="Stages Emplois" style="width: 200px;height: 65px; margin-right: 40px;">
        </a>
        <a href="https://www.stages-emplois.com/" target="_blank" >
          <img src="/assets/img/R.png" alt="R (1)" style="width: 200px;">
        </a>
      </p>
      
      <hr class="styled-line">
    </div>
  
  
    <div class="marocAnn-container">
        <div class="marocAnn-card" *ngFor="let maroc of marocList">
          <img [src]="maroc.image" alt="{{ maroc.title }}">
          <div class="marocAnn-details">
            <h2>{{ maroc.title }}</h2>
            <p>{{ maroc.description }}</p>
            <p>{{ maroc.city }}</p>
            <p>{{ maroc.salary }}</p>
          </div>
        </div>
      </div>
  
  
  
    <div class="cont">
      <a  nzType="link" routerLink="/emploi" routerLinkActive="active" class="button ">1</a>
      <a  nzType="link" routerLink="/stage" routerLinkActive="active" class="button active "> 2</a>
      <a href="page3.html" class="button">3</a>
    </div>
    
  
    
  
    </div>
  
  
  
  
  </div>